button {
    -fx-pref-width: 50px;      
    -fx-pref-height: 40px;    
    -fx-background-color: #FFCC00; 
    -fx-text-fill: white;      
    -fx-font-weight: bold;     
    -fx-font-size: 14px;       
    -fx-background-radius: 5;  
    }
